* {
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 80%;
    margin: auto;
    padding: 20px;
    text-align: justify;
}
body{
    background: #F7F5F5;
}
header{
    background-color: black;
    padding: 10px;
}
header a{
    text-decoration: none;
    padding: 0.5%;
}
.section_imagen img{
    width: 100%;
    height: auto;
}
.section_noticias{
    padding: 0.5%;
    line-height: 1.8;
}
main i{
    color: rgb(247, 117, 97);
}
main .funcion{
    color: rgb(138, 243, 194);
}
.m_index{
    padding: 0.5%;
    background-color: #FAEC;
}
footer{
    color: white;
    background-color: black;
    padding: 10px;
    height: 100px;
}
footer a{
    text-decoration: none;
    padding: 0.5%;
}
.color {   
    background-color: rgba(209, 246, 193, 0.2);                  
}

.Imagenes {
    display: flex;
    gap: 0;
}
.Imagenes img {
    width: 50%;
    height: 300px;
}
.Información{
    padding: 20px;
    text-align: justify;
    line-height: 1.8;
}
.Lorem {
    padding: 20px;
    text-align: justify;
    line-height: 1.8;
}
/* Contactos */
.contacto{
    width: 80%;
    margin: auto;
    background-color: rgba(243, 225, 225, 0.995);
    border-radius: 10px;
}
.form{
    text-align: justify;
}